/* src/App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#blocks {
  padding: 10px;
  width: 250px;
  border-right: 1px solid #ddd;
}

.gjs-block-section {
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5px 0;
}

.gjs-block-section:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.gjs-block-section > b {
  font-size: 13px;
}
